<div class="container">

  <div class="sg-title title-divider">
    <span class="before"></span>
    <span class="inner">Line Divider</span>
    <span class="after"></span>
  </div>
  <div class="sg-spacer"></div>
  <h5>solid-line</h5>
  <p>
    Sed tincidunt tortor eu sodales bibendum. Donec a tempor mi. Suspendisse iaculis ultricies erat, nec fermentum mauris vulputate in. Integer quis diam blandit, placerat risus sit amet, porttitor leo. Aliquam ac lacinia leo.
  </p>
  <div class="sg-divider divider-solid-line"></div>
  <h5>dashed-line</h5>
  <p>
    Sed tincidunt tortor eu sodales bibendum. Donec a tempor mi. Suspendisse iaculis ultricies erat, nec fermentum mauris vulputate in. Integer quis diam blandit, placerat risus sit amet, porttitor leo. Aliquam ac lacinia leo.
  </p>
  <div class="sg-divider divider-dashed-line"></div>
  <h5>dotted-line</h5>
  <p>
    Sed tincidunt tortor eu sodales bibendum. Donec a tempor mi. Suspendisse iaculis ultricies erat, nec fermentum mauris vulputate in. Integer quis diam blandit, placerat risus sit amet, porttitor leo. Aliquam ac lacinia leo.
  </p>
  <div class="sg-divider divider-dotted-line"></div>
  <h5>double-solid-line</h5>
  <p>
    Sed tincidunt tortor eu sodales bibendum. Donec a tempor mi. Suspendisse iaculis ultricies erat, nec fermentum mauris vulputate in. Integer quis diam blandit, placerat risus sit amet, porttitor leo. Aliquam ac lacinia leo.
  </p>
  <div class="sg-divider divider-double-solid-line"></div>
  <h5>double-dashed-line</h5>
  <p>
    Sed tincidunt tortor eu sodales bibendum. Donec a tempor mi. Suspendisse iaculis ultricies erat, nec fermentum mauris vulputate in. Integer quis diam blandit, placerat risus sit amet, porttitor leo. Aliquam ac lacinia leo.
  </p>
  <div class="sg-divider divider-double-dashed-line"></div>
  <h5>double-dotted-line</h5>
  <p>
    Sed tincidunt tortor eu sodales bibendum. Donec a tempor mi. Suspendisse iaculis ultricies erat, nec fermentum mauris vulputate in. Integer quis diam blandit, placerat risus sit amet, porttitor leo. Aliquam ac lacinia leo.
  </p>
  <div class="sg-divider divider-double-dotted-line"></div>
  <h5>bold-line</h5>
  <p>
    Sed tincidunt tortor eu sodales bibendum. Donec a tempor mi. Suspendisse iaculis ultricies erat, nec fermentum mauris vulputate in. Integer quis diam blandit, placerat risus sit amet, porttitor leo. Aliquam ac lacinia leo.
  </p>
  <div class="sg-divider divider-bold-line"></div>

  <div class="sg-spacer"></div>
  <div class="sg-title title-divider">
    <span class="before"></span>
    <span class="inner">Text Divider</span>
    <span class="after"></span>
  </div>
  <div class="sg-spacer"></div>

  <h5>solid-line center</h5>
  <p>
    Sed tincidunt tortor eu sodales bibendum. Donec a tempor mi. Suspendisse iaculis ultricies erat, nec fermentum mauris vulputate in. Integer quis diam blandit, placerat risus sit amet, porttitor leo. Aliquam ac lacinia leo.
  </p>
  <div class="sg-title title-divider divider-solid-line">
    <span class="before"></span>
    <span class="inner">solid-line</span>
    <span class="after"></span>
  </div>
  <h5>dashed-line center</h5>
  <p>
    Sed tincidunt tortor eu sodales bibendum. Donec a tempor mi. Suspendisse iaculis ultricies erat, nec fermentum mauris vulputate in. Integer quis diam blandit, placerat risus sit amet, porttitor leo. Aliquam ac lacinia leo.
  </p>
  <div class="sg-title title-divider divider-dashed-line">
    <span class="before"></span>
    <span class="inner">dashed-line</span>
    <span class="after"></span>
  </div>
  <h5>dotted-line center</h5>
  <p>
    Sed tincidunt tortor eu sodales bibendum. Donec a tempor mi. Suspendisse iaculis ultricies erat, nec fermentum mauris vulputate in. Integer quis diam blandit, placerat risus sit amet, porttitor leo. Aliquam ac lacinia leo.
  </p>
  <div class="sg-title title-divider divider-dotted-line">
    <span class="before"></span>
    <span class="inner">dotted-line</span>
    <span class="after"></span>
  </div>
  <h5>double-solid-line center</h5>
  <p>
    Sed tincidunt tortor eu sodales bibendum. Donec a tempor mi. Suspendisse iaculis ultricies erat, nec fermentum mauris vulputate in. Integer quis diam blandit, placerat risus sit amet, porttitor leo. Aliquam ac lacinia leo.
  </p>
  <div class="sg-title title-divider divider-double-solid-line">
    <span class="before"></span>
    <span class="inner">double-solid-line</span>
    <span class="after"></span>
  </div>
  <h5>double-dashed-line center</h5>
  <p>
    Sed tincidunt tortor eu sodales bibendum. Donec a tempor mi. Suspendisse iaculis ultricies erat, nec fermentum mauris vulputate in. Integer quis diam blandit, placerat risus sit amet, porttitor leo. Aliquam ac lacinia leo.
  </p>
  <div class="sg-title title-divider divider-double-dashed-line">
    <span class="before"></span>
    <span class="inner">double-dashed-line</span>
    <span class="after"></span>
  </div>
  <h5>double-dotted-line center</h5>
  <p>
    Sed tincidunt tortor eu sodales bibendum. Donec a tempor mi. Suspendisse iaculis ultricies erat, nec fermentum mauris vulputate in. Integer quis diam blandit, placerat risus sit amet, porttitor leo. Aliquam ac lacinia leo.
  </p>
  <div class="sg-title title-divider divider-double-dotted-line">
    <span class="before"></span>
    <span class="inner">double-dotted-line</span>
    <span class="after"></span>
  </div>
  <h5>thin-line center</h5>
  <p>
    Sed tincidunt tortor eu sodales bibendum. Donec a tempor mi. Suspendisse iaculis ultricies erat, nec fermentum mauris vulputate in. Integer quis diam blandit, placerat risus sit amet, porttitor leo. Aliquam ac lacinia leo.
  </p>
  <div class="sg-title title-divider divider-thin-line">
    <span class="before"></span>
    <span class="inner">thin-line</span>
    <span class="after"></span>
  </div>
  <h5>icon</h5>
  <p>
    Sed tincidunt tortor eu sodales bibendum. Donec a tempor mi. Suspendisse iaculis ultricies erat, nec fermentum mauris vulputate in. Integer quis diam blandit, placerat risus sit amet, porttitor leo. Aliquam ac lacinia leo.
  </p>
  <div class="sg-title title-divider">
    <span class="before"></span>
    <span class="inner"> <i class="fa fa-rocket fa-2x"></i>
    </span>
    <span class="after"></span>
  </div>
  <h5>left</h5>
  <p>
    Sed tincidunt tortor eu sodales bibendum. Donec a tempor mi. Suspendisse iaculis ultricies erat, nec fermentum mauris vulputate in. Integer quis diam blandit, placerat risus sit amet, porttitor leo. Aliquam ac lacinia leo.
  </p>
  <div class="sg-title title-divider align-left">
    <span class="before"></span>
    <span class="inner">Position left</span>
    <span class="after"></span>
  </div>
  <h5>center</h5>
  <p>
    Sed tincidunt tortor eu sodales bibendum. Donec a tempor mi. Suspendisse iaculis ultricies erat, nec fermentum mauris vulputate in. Integer quis diam blandit, placerat risus sit amet, porttitor leo. Aliquam ac lacinia leo.
  </p>
  <div class="sg-title title-divider align-center">
    <span class="before"></span>
    <span class="inner">Position center</span>
    <span class="after"></span>
  </div>
  <h5>right</h5>
  <p>
    Sed tincidunt tortor eu sodales bibendum. Donec a tempor mi. Suspendisse iaculis ultricies erat, nec fermentum mauris vulputate in. Integer quis diam blandit, placerat risus sit amet, porttitor leo. Aliquam ac lacinia leo.
  </p>
  <div class="sg-title title-divider align-right">
    <span class="before"></span>
    <span class="inner">Position right</span>
    <span class="after"></span>
  </div>
  <h5>right</h5>
  <p>
    Sed tincidunt tortor eu sodales bibendum. Donec a tempor mi. Suspendisse iaculis ultricies erat, nec fermentum mauris vulputate in. Integer quis diam blandit, placerat risus sit amet, porttitor leo. Aliquam ac lacinia leo.
  </p>
  <div class="sg-title title-divider title-sm">
    <span class="before"></span>
    <span class="inner">Size Half</span>
    <span class="after"></span>
  </div>

</div>