
    



<div class="sg-spacer padding-4x"></div>
<div class="sg-title title-divider">
  <span class="before"></span>
  <span class="inner">Sample Widgets</span>
  <span class="after"></span>
</div>
<div class="sg-spacer "></div>
<div class="sg-section color-set-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="widget">
          <h3 class="widget-header">Newsletter</h3>
          <p>
            Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.
          </p>
          <form action="#" method="POST">
            <div class="input-group">
              <input class="form-control" placeholder="Email Address" name="email" id="email" type="text">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit"> <i class="fa fa-envelope"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
      <!-- col -->
      <div class="col-sm-3">
        <div class="widget">
          <h3 class="widget-header">Contact Us</h3>
          <form action="#" method="post">
            <div class="form-group">
              <input type="text" class="form-control" id="input-name" placeholder="Your name"></div>
            <div class="form-group">
              <input type="email" class="form-control" id="input-email" placeholder="Your email"></div>
            <div class="form-group">
              <textarea class="form-control" id="input-phone" placeholder="Your message" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
          </form>
        </div>
      </div>
      <!-- col -->
      <div class="col-sm-3">
        <div class="widget">
          <h3 class="widget-header">Recent Post</h3>
          <ul class="sg-post-list list-small no-margin">
            <li class="post-item">
              <a href="">Lorem ipsum dolor sit amet</a>
              <div>01 January 2014</div>
            </li>
            <li class="post-item">
              <a href="">Consectetur adipisicing elit</a>
              <div>01 January 2014</div>
            </li>
            <li class="post-item">
              <a href="">Tempora harum nemo et animi vitae</a>
              <div>01 January 2014</div>
            </li>
          </ul>
          <a>
            View More Posts <i class="fa fa-arrow-right"></i>
          </a>
        </div>
      </div>
      <!-- col -->
      <div class="col-sm-3">
        <div class="widget">
          <h3 class="widget-header">Recent Post</h3>
          <ul class="sg-post-list list-thumb-left list-small no-margin">
            <li class="post-item">
              <div class="sg-block block-post">
                <div class="sg-block-thumb align-left">
                  <a href="#">
                    <img class="hover-image" src="http://lorempixel.com/50/50/nature?1" alt="image" draggable="false"></a>
                </div>
                <div class="sg-block-body">
                  <h5 class="post-name">
                    <a href="#">Lorem Ipsum Dolor</a>
                  </h5>
                  <div class="post-meta bottom">
                    <span class="post-date">01 January 2014</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="post-item">
              <div class="sg-block block-post">
                <div class="sg-block-thumb align-left">
                  <a href="#">
                    <img class="hover-image" src="http://lorempixel.com/50/50/nature?1" alt="image" draggable="false"></a>
                </div>
                <div class="sg-block-body">
                  <h5 class="post-name">
                    <a href="#">Lorem Ipsum Dolor</a>
                  </h5>
                  <div class="post-meta bottom">
                    <span class="post-date">01 January 2014</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="post-item">
              <div class="sg-block block-post">
                <div class="sg-block-thumb align-left">
                  <a href="#">
                    <img class="hover-image" src="http://lorempixel.com/50/50/nature?1" alt="image" draggable="false"></a>
                </div>
                <div class="sg-block-body">
                  <h5 class="post-name">
                    <a href="#">Lorem Ipsum Dolor</a>
                  </h5>
                  <div class="post-meta bottom">
                    <span class="post-date">01 January 2014</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <!-- post list -->
        </div>
        <!-- widget -->
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<!-- section -->

<div class="sg-spacer "></div>
<div class="sg-section color-set-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="sg-widget widget-tag-list">
          <h3 class="widget-header">Tag List</h3>
          <p>
            <a class="btn btn-xs btn-default" href="">lorem</a>
            <a class="btn btn-xs btn-default" href="">ipsum</a>
            <a class="btn btn-xs btn-default" href="">dolor</a>
            <a class="btn btn-xs btn-default" href="">sit amet</a>
            <a class="btn btn-xs btn-default" href="">consectetur</a>
            <a class="btn btn-xs btn-default" href="">adipisicing</a>
            <a class="btn btn-xs btn-default" href="">dolorum</a>
            <a class="btn btn-xs btn-default" href="">repudiandae</a>
            <a class="btn btn-xs btn-default" href="">doloribus</a>
            <a class="btn btn-xs btn-default" href="">libero</a>
            <a class="btn btn-xs btn-default" href="">fugit</a>
            <a class="btn btn-xs btn-default" href="">culpa</a>
          </p>
        </div>
        <!-- widget -->
      </div>
      <!-- col -->
      <div class="col-sm-3">
        <div class="widget">
          <h3 class="widget-header">Follow Us</h3>
          <p>
            <a href="">
              <span class="sg-badge badge-icon badge-md badge-rounded bg-facebook">
                <i class="fa fa-facebook"></i>
              </span>
            </a>
            <a href="">
              <span class="sg-badge badge-icon badge-md badge-rounded bg-twitter">
                <i class="fa fa-twitter"></i>
              </span>
            </a>
            <a href="">
              <span class="sg-badge badge-icon badge-md badge-rounded bg-rss">
                <i class="fa fa-rss"></i>
              </span>
            </a>
            <a href="">
              <span class="sg-badge badge-icon badge-md badge-rounded bg-google-plus">
                <i class="fa fa-google-plus"></i>
              </span>
            </a>
            <a href="">
              <span class="sg-badge badge-icon badge-md badge-rounded bg-linkedin">
                <i class="fa fa-linkedin"></i>
              </span>
            </a>
          </p>
        </div>
        <!-- widget -->
      </div>
      <!-- col -->
      <div class="col-sm-3">
        <div class="widget">
          <h3 class="widget-header">Our Address</h3>
          <address> <strong>Corporate Inc.</strong>
            <br>
            <span>123 Street Name, City</span>
            <br>
            <span>State, United States 12345</span>
          </address>
          <p>
            <i class="fa fa-fw fa-phone"></i>
            : +62 1234 5678 90
            <br>
            <i class="fa fa-fw fa-envelope"></i>
            :
            <a href="mailto:mail@example.com">mail@example.com</a>
          </p>
        </div>
        <!-- widget -->
      </div>
      <!-- col -->
      <div class="col-sm-3">
        <div class="widget">
          <h3 class="widget-header">Our Location</h3>
          <div class="gmap" id="gmap-footer" data-address="manhattan" data-zoom="13" data-height="150"></div>
        </div>
        <!-- widget -->
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<!-- section -->

<div class="sg-spacer "></div>

<div class="sg-section color-set-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="widget">
          <p class="logo push-bottom">
            <img src="http://localhost/themes/corporate/public/assets/images/logo.png" alt="logo"></p>
          <p>
            Corporate is a design agency that help you creating your website, you will be able to create an awesome website in a very simple way
          </p>
          <p class="contact-details">
            <i class="fa fa-fw fa-briefcase"></i> <strong>Address:</strong>
            123 Street Name, City, USA
            <br>
            <i class="fa fa-fw fa-phone"></i>
            <strong>Phone:</strong>
            (123) 456-7890
            <br>
            <i class="fa fa-fw fa-envelope"></i>
            <strong>Email:</strong>
            <a href="mailto:mail@example.com">mail@example.com</a>
          </p>
        </div>
      </div>
      <!-- col -->
      <div class="col-sm-3">
        <div class="sg-widget widget-recent-posts">
          <h3 class="widget-header">Recent Post</h3>
          <ul>
            <li>
              <a href="">Lorem ipsum dolor sit amet</a>
            </li>
            <li>
              <a href="">Consectetur adipisicing elit</a>
            </li>
            <li>
              <a href="">Tempora harum nemo et animi vitae</a>
            </li>
            <li>
              <a href="">Alias quisquam saepe nisi nostrum</a>
            </li>
            <li>
              <a href="">excepturi dolore eius dicta veritatis</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- col -->
      <div class="col-sm-3">
        <div class="sg-widget widget-recent-tweets">
          <h3 class="widget-header">Recent Tweets</h3>
          <div class="user-link">
            <a href="">@username</a>
          </div>
          <ul class="fa-ul">
            <li>
              <i class="fa fa-li fa-twitter"></i>
              Iste, dolores expedita pariatur dolore sit vel deleniti architecto at perferendis ratione tempore
              <a class="time" href="">13m ago</a>
            </li>
            <li>
              <i class="fa fa-li fa-twitter"></i>
              Corporis numquam eligendi minus doloribus rem eius! Similique
              <a class="time" href="">01 Jan</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- col -->
      <div class="col-sm-3">
        <div class="sg-widget widget-recent-portfolios">
          <h3 class="widget-header">Recent Works</h3>
          <ul class="row">
            <li class="col-xs-4">
              <div class="sg-block anim-hover hover-parent no-overflow">
                <a href="">
                  <img class="hover-child hover-grow" src="http://lorempixel.com/80/80/nature?1" alt="image"></a>
              </div>
            </li>
            <li class="col-xs-4">
              <div class="sg-block anim-hover hover-parent no-overflow">
                <a href="">
                  <img class="hover-child hover-grow" src="http://lorempixel.com/80/80/nature?1" alt="image"></a>
              </div>
            </li>
            <li class="col-xs-4">
              <div class="sg-block anim-hover hover-parent no-overflow">
                <a href="">
                  <img class="hover-child hover-grow" src="http://lorempixel.com/80/80/nature?1" alt="image"></a>
              </div>
            </li>
            <li class="col-xs-4">
              <div class="sg-block anim-hover hover-parent no-overflow">
                <a href="">
                  <img class="hover-child hover-grow" src="http://lorempixel.com/80/80/nature?1" alt="image"></a>
              </div>
            </li>
            <li class="col-xs-4">
              <div class="sg-block anim-hover hover-parent no-overflow">
                <a href="">
                  <img class="hover-child hover-grow" src="http://lorempixel.com/80/80/nature?1" alt="image"></a>
              </div>
            </li>
            <li class="col-xs-4">
              <div class="sg-block anim-hover hover-parent no-overflow">
                <a href="">
                  <img class="hover-child hover-grow" src="http://lorempixel.com/80/80/nature?1" alt="image"></a>
              </div>
            </li>
          </ul>
          <a>
            View More Works
            <i class="fa fa-arrow-right"></i>
          </a>
        </div>
      </div>
      <!-- col -->
    </div>
  </div>
</div>




  