


<div class="sg-spacer padding-4px"></div>
<div class="sg-title title-divider">
  <span class="before"></span>
  <span class="inner">Align Left</span>
  <span class="after"></span>
</div>
<div class="sg-spacer padding-4px"></div>
<header class="theme-header">
  <div class="sg-section theme-header-main align-left section-border no-padding">
    <nav class="navbar navbar-blank navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span> <i class="fa fa-fw fa-bars"></i>
          </button>
          <a class="navbar-brand" href="#">
            <img src="http://localhost/themes/corporate/public/assets/images/logo.png" alt="image"></a>
        </div>
        <!-- navbar-header -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">Portfolio</a>
            </li>
            <li>
              <a href="">Blog</a>
            </li>
            <li>
              <a href="">Shop</a>
            </li>
            <li>
              <a href="">Pages</a>
            </li>
            <li>
              <a href="">Contact</a>
            </li>
          </ul>
        </div>
        <!-- navbar-collapse -->
      </div>
      <!-- container -->
    </nav>
    <!-- nav -->
  </div>
  <!-- header-main -->
</header>
<!-- header -->

<div class="sg-spacer padding-4px"></div>
<div class="sg-title title-divider">
  <span class="before"></span>
  <span class="inner">Align Right</span>
  <span class="after"></span>
</div>
<div class="sg-spacer padding-4px"></div>
<header class="theme-header">
  <div class="sg-section theme-header-main section-border no-padding">
    <nav class="navbar navbar-blank navbar-static-top" role="navigation">
      <div class="container">
        <div class="collapse navbar-collapse navbar-left">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">Portfolio</a>
            </li>
            <li>
              <a href="">Blog</a>
            </li>
            <li>
              <a href="">Shop</a>
            </li>
            <li>
              <a href="">Pages</a>
            </li>
            <li>
              <a href="">Contact</a>
            </li>
          </ul>
        </div>
        <!-- navbar-collapse -->
        <div class="navbar-header navbar-right">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span> <i class="fa fa-fw fa-bars"></i>
          </button>
          <a class="navbar-brand" href="#">
            <img src="http://localhost/themes/corporate/public/assets/images/logo.png" alt="image"></a>
        </div>
        <!-- navbar-header -->
      </div>
      <!-- container -->
    </nav>
    <!-- nav -->
  </div>
  <!-- header-main -->
</header>
<!-- header -->

<div class="sg-spacer padding-4px"></div>
<div class="sg-title title-divider">
  <span class="before"></span>
  <span class="inner">Split</span>
  <span class="after"></span>
</div>
<div class="sg-spacer padding-4px"></div>
<header class="theme-header">
  <div class="sg-section theme-header-main theme-header-split section-border no-padding">
    <nav class="navbar navbar-blank navbar-static-top" role="navigation">
      <div class="container">
        <div class="collapse navbar-collapse navbar-left">
          <ul class="nav navbar-nav">
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">Portfolio</a>
            </li>
            <li>
              <a href="">Blog</a>
            </li>
          </ul>
        </div>
        <!-- navbar-collapse -->
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-fw fa-bars"></i>
          </button>
          <a class="navbar-brand" href="#">
            <img src="http://localhost/themes/corporate/public/assets/images/logo.png" alt="image"></a>
        </div>
        <!-- navbar-header -->
        <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <li>
              <a href="">Shop</a>
            </li>
            <li>
              <a href="">Pages</a>
            </li>
            <li>
              <a href="">Contact</a>
            </li>
          </ul>
        </div>
        <!-- navbar-collapse -->
      </div>
      <!-- container -->
    </nav>
    <!-- nav -->
  </div>
  <!-- header-main -->
</header>
<!-- header -->

<div class="sg-spacer padding-4px"></div>
<div class="sg-title title-divider">
  <span class="before"></span>
  <span class="inner">With Top Header</span>
  <span class="after"></span>
</div>
<div class="sg-spacer padding-4px"></div>
<header class="theme-header">
  <div class="sg-section theme-header-top section-nav color-set-2 section-border">
    <nav class="navbar navbar-blank navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-fw fa-bars"></i>
          </button>
          <div class="navbar-contact-list">
            <span class="navbar-text">
              <i class="fa fa-briefcase"></i>
              123 Street Name, City, USA
            </span>
            <span class="navbar-text">
              <i class="fa fa-phone"></i>
              (123) 456-7890
            </span>
            <span class="navbar-text">
              <i class="fa fa-envelope"></i>
              mail@example.com
            </span>
          </div>
        </div>
        <div class="collapse navbar-collapse">
          <div class="navbar-social-list navbar-right">
            <div class="navbar-text">
              <a href="#">
                <span class="sg-badge badge-icon badge-xs badge-circle bg-primary border-primary">
                  <i class="fa fa-facebook"></i>
                </span>
              </a>
              <a href="#">
                <span class="sg-badge badge-icon badge-xs badge-circle bg-primary border-primary">
                  <i class="fa fa-twitter"></i>
                </span>
              </a>
              <a href="#">
                <span class="sg-badge badge-icon badge-xs badge-circle bg-primary border-primary">
                  <i class="fa fa-linkedin"></i>
                </span>
              </a>
              <a href="#">
                <span class="sg-badge badge-icon badge-xs badge-circle bg-primary border-primary">
                  <i class="fa fa-google-plus"></i>
                </span>
              </a>
              <a href="#">
                <span class="sg-badge badge-icon badge-xs badge-circle bg-primary border-primary">
                  <i class="fa fa-skype"></i>
                </span>
              </a>
              <a href="#">
                <span class="sg-badge badge-icon badge-xs badge-circle bg-primary border-primary">
                  <i class="fa fa-tumblr"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <!-- navbar-collapse -->
      </div>
      <!-- container -->
    </nav>
    <!-- nav -->
  </div>
  <!-- header top -->
  <div class="sg-section theme-header-main align-left section-border no-padding">
    <nav class="navbar navbar-blank navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-fw fa-bars"></i>
          </button>
          <a class="navbar-brand" href="#">
            <img src="http://localhost/themes/corporate/public/assets/images/logo.png" alt="image"></a>
        </div>
        <!-- navbar-header -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">Portfolio</a>
            </li>
            <li>
              <a href="">Blog</a>
            </li>
            <li>
              <a href="">Shop</a>
            </li>
            <li>
              <a href="">Pages</a>
            </li>
            <li>
              <a href="">Contact</a>
            </li>
          </ul>
        </div>
        <!-- navbar-collapse -->
      </div>
      <!-- container -->
    </nav>
    <!-- nav -->
  </div>
  <!-- header-main -->
</header>
<!-- header -->

<div class="sg-spacer padding-4px"></div>
<div class="sg-title title-divider">
  <span class="before"></span>
  <span class="inner">Navigation Bottom</span>
  <span class="after"></span>
</div>
<div class="sg-spacer padding-4px"></div>
<header class="theme-header">
  <div class="sg-section theme-header-main align-left section-border no-padding">
    <nav class="navbar navbar-blank navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-fw fa-bars"></i>
          </button>
          <a class="navbar-brand" href="#">
            <img src="http://localhost/themes/corporate/public/assets/images/logo.png" alt="image"></a>
        </div>
        <!-- navbar-header -->
        <div class="collapse navbar-collapse">
          <div class="navbar-social-list navbar-right">
            <div class="navbar-text">
              <a href="#">
                <span class="sg-badge badge-icon badge-xs badge-circle bg-primary border-primary">
                  <i class="fa fa-facebook"></i>
                </span>
              </a>
              <a href="#">
                <span class="sg-badge badge-icon badge-xs badge-circle bg-primary border-primary">
                  <i class="fa fa-twitter"></i>
                </span>
              </a>
              <a href="#">
                <span class="sg-badge badge-icon badge-xs badge-circle bg-primary border-primary">
                  <i class="fa fa-linkedin"></i>
                </span>
              </a>
              <a href="#">
                <span class="sg-badge badge-icon badge-xs badge-circle bg-primary border-primary">
                  <i class="fa fa-google-plus"></i>
                </span>
              </a>
              <a href="#">
                <span class="sg-badge badge-icon badge-xs badge-circle bg-primary border-primary">
                  <i class="fa fa-skype"></i>
                </span>
              </a>
              <a href="#">
                <span class="sg-badge badge-icon badge-xs badge-circle bg-primary border-primary">
                  <i class="fa fa-tumblr"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <!-- navbar-collapse -->
      </div>
      <!-- container -->
    </nav>
    <!-- nav -->
  </div>
  <!-- header-main -->
  <div class="sg-section theme-header-bottom color-set-2 section-border section-nav contain-form">
    <nav class="navbar navbar-blank navbar-static-top" role="navigation">
      <div class="container">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left nav-border">
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">Portfolio</a>
            </li>
            <li>
              <a href="">Blog</a>
            </li>
            <li>
              <a href="">Shop</a>
            </li>
            <li>
              <a href="">Pages</a>
            </li>
            <li>
              <a href="">Contact</a>
            </li>
          </ul>

          <form class="navbar-form form-search navbar-right" role="search">
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
        <!-- navbar-collapse -->
      </div>
      <!-- container -->
    </nav>
    <!-- nav -->
  </div>
  <!-- header bottom -->
</header>
<!-- header -->

<div class="sg-spacer padding-4px"></div>
<div class="sg-title title-divider">
  <span class="before"></span>
  <span class="inner">With Top &amp; Bottom Header</span>
  <span class="after"></span>
</div>
<div class="sg-spacer padding-4px"></div>
<header class="theme-header">
  <div class="sg-section theme-header-top section-nav bg-dark section-border">
    <nav class="navbar navbar-blank navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-fw fa-bars"></i>
          </button>
          <div class="navbar-contact-list">
            <span class="navbar-text">
              <i class="fa fa-briefcase"></i>
              123 Street Name, City, USA
            </span>
            <span class="navbar-text">
              <i class="fa fa-phone"></i>
              (123) 456-7890
            </span>
            <span class="navbar-text">
              <i class="fa fa-envelope"></i>
              mail@example.com
            </span>
          </div>
        </div>
        <div class="collapse navbar-collapse">
          <div class="navbar-social-list navbar-right">
            <div class="navbar-text">
              <a href="#">
                <span class="sg-badge badge-icon badge-xs badge-circle bg-primary border-primary">
                  <i class="fa fa-facebook"></i>
                </span>
              </a>
              <a href="#">
                <span class="sg-badge badge-icon badge-xs badge-circle bg-primary border-primary">
                  <i class="fa fa-twitter"></i>
                </span>
              </a>
              <a href="#">
                <span class="sg-badge badge-icon badge-xs badge-circle bg-primary border-primary">
                  <i class="fa fa-linkedin"></i>
                </span>
              </a>
              <a href="#">
                <span class="sg-badge badge-icon badge-xs badge-circle bg-primary border-primary">
                  <i class="fa fa-google-plus"></i>
                </span>
              </a>
              <a href="#">
                <span class="sg-badge badge-icon badge-xs badge-circle bg-primary border-primary">
                  <i class="fa fa-skype"></i>
                </span>
              </a>
              <a href="#">
                <span class="sg-badge badge-icon badge-xs badge-circle bg-primary border-primary">
                  <i class="fa fa-tumblr"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <!-- navbar-collapse -->
      </div>
      <!-- container -->
    </nav>
    <!-- nav -->
  </div>
  <!-- header top -->
  <div class="sg-section theme-header-main align-left section-border no-padding">
    <nav class="navbar navbar-blank navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-fw fa-bars"></i>
          </button>
          <a class="navbar-brand" href="#">
            <img src="http://localhost/themes/corporate/public/assets/images/logo.png" alt="image"></a>
        </div>
        <!-- navbar-header -->
      </div>
      <!-- container -->
    </nav>
    <!-- nav -->
  </div>
  <!-- header-main -->
  <div class="sg-section theme-header-bottom color-set-2 section-border section-nav contain-form">
    <nav class="navbar navbar-blank navbar-static-top" role="navigation">
      <div class="container">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left nav-border">
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">Portfolio</a>
            </li>
            <li>
              <a href="">Blog</a>
            </li>
            <li>
              <a href="">Shop</a>
            </li>
            <li>
              <a href="">Pages</a>
            </li>
            <li>
              <a href="">Contact</a>
            </li>
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">Portfolio</a>
            </li>
            <li>
              <a href="">Blog</a>
            </li>
            <li>
              <a href="">Shop</a>
            </li>
            <li>
              <a href="">Pages</a>
            </li>
            <li>
              <a href="">Contact</a>
            </li>
          </ul>

          <form class="navbar-form form-search navbar-right" role="search">
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
        <!-- navbar-collapse -->
      </div>
      <!-- container -->
    </nav>
    <!-- nav -->
  </div>
  <!-- header bottom -->
</header>
<!-- header -->

<div class="sg-spacer padding-4px"></div>
<div class="sg-title title-divider">
  <span class="before"></span>
  <span class="inner">Overlay</span>
  <span class="after"></span>
</div>
<div class="sg-spacer padding-4px"></div>
<div class="relative">
  <header class="theme-header">
    <div class="sg-section theme-header-main align-left section-border no-padding text-white bg-none border-none absolute">
      <nav class="navbar navbar-blank navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <i class="fa fa-fw fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#">
              <img src="http://localhost/themes/corporate/public/assets/images/logo-white.png" alt="image"></a>
          </div>
          <!-- navbar-header -->
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="">Home</a>
              </li>
              <li>
                <a href="">Portfolio</a>
              </li>
              <li>
                <a href="">Blog</a>
              </li>
              <li>
                <a href="">Shop</a>
              </li>
              <li>
                <a href="">Pages</a>
              </li>
              <li>
                <a href="">Contact</a>
              </li>
            </ul>
          </div>
          <!-- navbar-collapse -->
        </div>
        <!-- container -->
      </nav>
      <!-- nav -->
    </div>
    <!-- header-main -->
  </header>
  <!-- header -->

  <div class="sg-section">
    <div class="section-overlay bg-image" data-bg-image="http://localhost/themes/corporate/public/assets/images/hero-1.jpg" data-bg-alpha="1" data-bg-position="center center" style="opacity: 1; background-image: url(http://localhost/themes/corporate/public/assets/images/hero-1.jpg); background-position: 50% 50%;"></div>
  </div>
</div>


  