<div class="sg-section">
  <div class="container">

    <div class="sg-wrapper text-center">
      <h2>What We Do</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, debitis, quae. Aliquam excepturi sint, cum iusto fuga debitis aliquid quod aut pariatur reiciendis enim veniam corrupti architecto rem eum deserunt omnis! Assumenda expedita eaque laborum, cumque veritatis delectus voluptatum possimus?
      </p>
    </div>

    <div class="row">

      <div class="col-sm-4">

        <img src="http://lorempixel.com/400/200/nature?1" alt="image" />
      </div>
      <div class="col-sm-4">
        <img src="http://lorempixel.com/400/200/nature?2" alt="image" />
      </div>
      <div class="col-sm-4">
        <img src="http://lorempixel.com/400/200/nature?3" alt="image" />
      </div>

    </div>
  </div>
</div>
<!-- section -->

<div class="sg-section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="sg-block">
          <div class="block-thumb align-left">
            <span class="sg-badge badge-icon badge-circle bg-primary"> <i class="fa fa-camera-retro"></i>
            </span>
          </div>
          <div class="block-body">
            <h4>Some Title</h4>
            <p>
              Praesent lobortis lacus eleifend est bibendum, id porttitor velit tempus.
            </p>
          </div>
        </div>
        <!-- block --> </div>
      <div class="col-sm-4">
        <div class="sg-block">
          <div class="block-thumb align-left">
            <span class="sg-badge badge-icon badge-circle bg-primary"> <i class="fa fa-camera-retro"></i>
            </span>
          </div>
          <div class="block-body">
            <h4>Some Title</h4>
            <p>
              Praesent lobortis lacus eleifend est bibendum, id porttitor velit tempus.
            </p>
          </div>
        </div>
        <!-- block --> </div>
      <div class="col-sm-4">
        <div class="sg-block">
          <div class="block-thumb align-left">
            <span class="sg-badge badge-icon badge-circle bg-primary">
              <i class="fa fa-camera-retro"></i>
            </span>
          </div>
          <div class="block-body">
            <h4>Some Title</h4>
            <p>
              Praesent lobortis lacus eleifend est bibendum, id porttitor velit tempus.
            </p>
          </div>
        </div>
        <!-- block --> </div>
    </div>
    <!-- row -->

    <div class="row">
      <div class="col-sm-4">
        <div class="sg-block">
          <div class="block-thumb align-left">
            <span class="sg-badge badge-icon badge-circle bg-primary">
              <i class="fa fa-camera-retro"></i>
            </span>
          </div>
          <div class="block-body">
            <h4>Some Title</h4>
            <p>
              Praesent lobortis lacus eleifend est bibendum, id porttitor velit tempus.
            </p>
          </div>
        </div>
        <!-- block --> </div>
      <div class="col-sm-4">
        <div class="sg-block">
          <div class="block-thumb align-left">
            <span class="sg-badge badge-icon badge-circle bg-primary">
              <i class="fa fa-camera-retro"></i>
            </span>
          </div>
          <div class="block-body">
            <h4>Some Title</h4>
            <p>
              Praesent lobortis lacus eleifend est bibendum, id porttitor velit tempus.
            </p>
          </div>
        </div>
        <!-- block --> </div>
      <div class="col-sm-4">
        <div class="sg-block">
          <div class="block-thumb align-left">
            <span class="sg-badge badge-icon badge-circle bg-primary">
              <i class="fa fa-camera-retro"></i>
            </span>
          </div>
          <div class="block-body">
            <h4>Some Title</h4>
            <p>
              Praesent lobortis lacus eleifend est bibendum, id porttitor velit tempus.
            </p>
          </div>
        </div>
        <!-- block --> </div>
    </div>
    <!-- row --> </div>
</div>
<!-- section -->

<div class="sg-section">
  <div class="container">
    <ul class="row sg-post-list">
      <li class="col-sm-3 post-item">
        <img src="http://lorempixel.com/400/300?4" alt="image" />
      </li>
      <li class="col-sm-3 post-item">
        <img src="http://lorempixel.com/400/300?5" alt="image" />
      </li>
      <li class="col-sm-3 post-item">
        <img src="http://lorempixel.com/400/300?6" alt="image" />
      </li>
      <li class="col-sm-3 post-item">
        <img src="http://lorempixel.com/400/300?7" alt="image" />
      </li>
      <li class="col-sm-3 post-item">
        <img src="http://lorempixel.com/400/300?8" alt="image" />
      </li>
      <li class="col-sm-3 post-item">
        <img src="http://lorempixel.com/400/300?9" alt="image" />
      </li>
      <li class="col-sm-3 post-item">
        <img src="http://lorempixel.com/400/300?10" alt="image" />
      </li>
      <li class="col-sm-3">
        <img src="http://lorempixel.com/400/300?11" alt="image" />
      </li>
    </ul>
  </div>
</div>

<div class="sg-section">
  <div class="container">
    <h2>What We Do</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, debitis, quae. Aliquam excepturi sint, cum iusto fuga debitis aliquid quod aut pariatur reiciendis enim veniam corrupti architecto rem eum deserunt omnis! Assumenda expedita eaque laborum, cumque veritatis delectus voluptatum possimus?
    </p>

    <div class="row">

      <div class="col-sm-3">
        <div class="sg-block">
          <div class="block-thumb">
            <img src="http://lorempixel.com/400/300/people?12" alt="image" />
          </div>
          <div class="block-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, tempora, est quasi laboriosam.
          </div>
        </div>
        <!-- block --> </div>
      <!-- col -->
      <div class="col-sm-3">
        <div class="sg-block">
          <div class="block-thumb">
            <img src="http://lorempixel.com/400/300/people?13" alt="image" />
          </div>
          <div class="block-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, tempora, est quasi laboriosam.
          </div>
        </div>
        <!-- block --> </div>
      <!-- col -->
      <div class="col-sm-3">
        <div class="sg-block">
          <div class="block-thumb">
            <img src="http://lorempixel.com/400/300/people?14" alt="image" />
          </div>
          <div class="block-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, tempora, est quasi laboriosam.
          </div>
        </div>
        <!-- block --> </div>
      <!-- col -->
      <div class="col-sm-3">
        <div class="sg-block">
          <div class="block-thumb">
            <img src="http://lorempixel.com/400/300/people?15" alt="image" />
          </div>
          <div class="block-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, tempora, est quasi laboriosam.
          </div>
        </div>
        <!-- block --> </div>
      <!-- col --> </div>
    <!-- row --> </div>
</div>
<!-- section -->

<div class="sg-section bg-image" data-bg-image="http://lorempixel.com/1024/768" data-bg-size="cover">
  <div class="container">
    <div class="sg-wrapper text-center">
      <h2>Testimonial Slider</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, debitis, quae. Aliquam excepturi sint, cum iusto fuga debitis aliquid quod aut pariatur reiciendis enim veniam corrupti architecto rem eum deserunt omnis! Assumenda expedita eaque laborum, cumque veritatis delectus voluptatum possimus?
      </p>
    </div>
  </div>
</div>
<!-- section -->

<div class="sg-section">
  <div class="container">
    <div class="sg-wrapper text-center">
      <h2>Contact Us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
      </p>
    </div>
  </div>
</div>
<!-- section -->