<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= appname %></title>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="/bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>
<body>
  <!--[if lt IE 10]>
  <p class="browserupgrade">
    You are using an <strong>outdated</strong>
    browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a>
    to improve your experience.
  </p>
  <![endif]-->

  <nav class="navbar navbar-blank">
      <div class="container">
          <div class="navbar-header">
              <button class="navbar-toggle btn btn-primary" type="button" data-toggle="collapse" data-target="#main-nav">
                  <i class="fa fa-fw fa-bars"></i>
              </button>
              <a class="navbar-brand" href="#">
                  Sample
              </a>
          </div>
          <!-- navbar-header -->
          <div class="collapse navbar-collapse" id="main-nav">
              <ul class="nav navbar-nav navbar-right">
                  <li> <a href="home.html">Home</a> </li>
                  <li> <a href="tabs.html">Tabs</a> </li>
                  <li> <a href="header.html">Header</a> </li>
                  <li> <a href="post-list-classic.html">Post Classic</a> </li>
                  <li> <a href="post-list-thumb.html">Post Thumb</a> </li>
                  <li> <a href="post-list-thumb-left.html">Post Thumb Left</a> </li>
                  <li> <a href="post-single.html">Post Single</a> </li>
                  <li> <a href="sidebar.html">Sidebar</a> </li>
                  <li> <a href="testi.html">Testi</a> </li>
                  <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="">Pages <i class="caret"></i></a>
                      <ul class="dropdown-menu">
                          <li>
                              <a href="">About Us</a>
                          </li>
                          <li>
                              <a href="">Profile</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>
          <!-- navbar-collapse -->
      </div>
      <!-- container -->
  </nav>
  <!-- nav -->

  <div id="content">

  </div>
  <!-- content -->

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js scripts/plugins.js -->
  <script src="/bower_components/bootstrap/js/affix.js"></script>
  <script src="/bower_components/bootstrap/js/alert.js"></script>
  <script src="/bower_components/bootstrap/js/dropdown.js"></script>
  <script src="/bower_components/bootstrap/js/tooltip.js"></script>
  <script src="/bower_components/bootstrap/js/modal.js"></script>
  <script src="/bower_components/bootstrap/js/transition.js"></script>
  <script src="/bower_components/bootstrap/js/button.js"></script>
  <script src="/bower_components/bootstrap/js/popover.js"></script>
  <script src="/bower_components/bootstrap/js/carousel.js"></script>
  <script src="/bower_components/bootstrap/js/scrollspy.js"></script>
  <script src="/bower_components/bootstrap/js/collapse.js"></script>
  <script src="/bower_components/bootstrap/js/tab.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/main.js -->
  <script src="scripts/main.js"></script>
  <!-- endbuild -->
</body>
</html>