<div class="container">
	<ul class="sg-post-list list-column row anim-inview inview-parent">
		<li id="post-0" class="post-item inview-child col-sm-4" data-anim-inview="bounceIn" data-anim-delay="0">
			<div class="sg-block block-post block-box box-full">
				<div class="block-thumb">
					<img class="hover-image" src="http://lorempixel.com/400/250?1" alt="image">
				</div>
				<div class="block-body">
					<h5 class="post-title">
						<a href="#">Lorem Ipsum Dolor Sit</a>
					</h5>
					<div class="post-meta top">
						<span class="meta-author">
							Posted by
							<a href="">Admin</a>
						</span>
						<span class="meta-category">
							|
							<a href="">Uncategorized</a>
						</span>
					</div>
					<div class="post-excerpt">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, tempora, est quasi laboriosam.
					</div>
				</div>
				<div class="block-meta bottom">
					<div class="pull-left">
						<span class="meta-date"> <i class="fa fa-fw fa-calendar-o"></i>
							01 January 2014
						</span>
					</div>
					<div class="pull-right">
						<span class="meta-read-more">
							<a href="">
								Read More
								<i class="fa fa-fw fa-angle-right"></i>
							</a>
						</span>
					</div>
				</div>
			</div>
		</li>
		<!-- col -->
	</ul>
	<!-- row -->
</div>