<div class="container">

	<ul class="sg-post-list list-full row anim-inview inview-parent">
		<li id="post-0" class="post-item inview-child col-sm-12" data-anim-inview="fadeInUp" data-anim-delay="0">
			<div class="inner">
				<div class="sg-block block-post block-border">
					<div class="block-thumb full">
						<img class="hover-image" src="http://lorempixel.com/1200/400?blog-1.jpg" alt="image" />
					</div>
					<!-- block thumb -->
					<div class="block-body">
						<h5 class="post-title">
							<a href="#">Lorem Ipsum Dolor Sit</a>
						</h5>
						<div class="post-meta top">
							<span class="meta-author">
								Posted by
								<a href="">Admin</a>
							</span>
							<span class="meta-category">
								|
								<a href="">Uncategorized</a>
							</span>
							<span class="meta-comment">
								|
								<a href="">21 Comments</a>
							</span>
							<span class="meta-date">| 01 January 2014</span>
						</div>
						<div class="post-excerpt">
							In varius varius justo, eget ultrices mauris rhoncus non. Morbi tristique, mauris eu imperdiet bibendum, velit diam iaculis velit, in ornare massa enim at lorem. Etiam risus diam, porttitor vitae ultrices quis, dapibus id dolor. Morbi venenatis lacinia rhoncus. Vestibulum tincidunt ullamcorper eros eget luctus. Nulla eget porttitor libero.
						</div>
						<div class="post-meta bottom">
							<span class="meta-read-more">
								<a class="text-primary" href="">
									Read More <i class="fa fa-fw fa-angle-right"></i>
								</a>
							</span>
						</div>
					</div>
					<!-- block body -->
				</div>
				<!-- block -->
				<div class="post-meta-side">
					<div class="meta-date">
						<span class="month">MAR</span>
						<span class="day">23</span>
					</div>
					<div class="meta-author">
						<div class="block">
							<img src="http://lorempixel.com/80/80/people?1" alt="image" />
						</div>
					</div>
				</div>
				<!-- post-meta -->
			</div>
		</li>
	</ul>
</div>