<div class="container">
	<div class="row">
		<div class="col-sm-9">

			<h2>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit</h2>
			<div class="post-meta top">
				<span class="meta-author">
					Posted by
					<a href="">Admin</a>
				</span>
				<span class="meta-category">
					|
					<a href="">Uncategorized</a>
				</span>
				<span class="meta-comment">
					|
					<a href="">21 Comments</a>
				</span>
				<span class="meta-date">| 01 January 2014</span>
			</div>

			<div class="block">
				<div class="block-thumb">
					<img class="hover-image" src="http://lorempixel.com/850/400" alt="image" />
				</div>
			</div>
			<!-- block -->

			<p>
				<span class="dropcaps">L</span>
				orem ipsum dolor sit amet, consectetur adipisicing elit. Odit, aperiam, laudantium, cupiditate commodi suscipit provident voluptates eum rerum quisquam autem vero ea eos a libero quod nulla aspernatur reprehenderit iusto mollitia error earum nam cum asperiores facilis iure voluptatibus harum quaerat voluptatem ad perferendis saepe quis ipsam dolor. Animi, molestiae, minus, maxime ipsa blanditiis vel voluptates autem id nulla repellendus porro tempore odio sunt cupiditate aspernatur consequatur dolore error ipsam eveniet laudantium. Eveniet exercitationem quaerat fuga a ipsam hic laudantium perferendis labore quae. Expedita, necessitatibus, cupiditate qui temporibus aut eaque?
			</p>

			<div class="sg-block block-testi col-md-4 pull-right">
				<div class="testi-callout">
					<div class="testi-excerpt no-margin">
						"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, tempora, est quasi laboriosam"
					</div>
				</div>
				<div class="testi-meta bottom">
					<span class="meta-avatar">
						<img class="img-circle" src="http://lorempixel.com/40/40/people?4" alt="image" />
					</span>
					<span class="meta-author">Jane Doe</span>
					,
					<span class="meta-caption">Acme Corp</span>
				</div>
			</div>

			<p>
				Nihil, ad voluptatem eligendi exercitationem a totam laudantium dicta fugiat officia tenetur consequatur autem voluptates voluptate culpa qui aut earum. Assumenda, ex, distinctio, voluptatem, accusamus aliquam voluptate veniam quis reprehenderit dignissimos illo numquam rem dicta excepturi repellat voluptas!. Rem nemo excepturi recusandae labore voluptas praesentium illo aliquid velit sapiente deleniti! Ipsum, a, dicta, itaque, aliquid deserunt ipsam alias assumenda quia sed excepturi ullam odio beatae voluptate id veniam dolore tempora in! Laborum commodi incidunt adipisci a voluptatem fugit. Blanditiis, explicabo, aspernatur, vitae voluptatum labore voluptatibus ut itaque ducimus autem minus odit consequuntur earum repudiandae vero tenetur impedit enim ea deserunt commodi voluptates.
			</p>

			<h3>Some heading here</h3>

			<p>
				Reprehenderit similique facere possimus reiciendis impedit magni inventore non architecto neque iure sint ab numquam aperiam dicta deleniti id soluta nesciunt nisi maxime ullam aut eveniet eius fugiat? Debitis, neque, ipsa, id repellat eius animi minus ipsum molestias nulla laborum nisi dolores iure ad exercitationem laudantium aliquam sint ab praesentium at hic quaerat recusandae nesciunt ducimus atque porro laboriosam repudiandae non veritatis officiis cupiditate et deleniti cum error optio nemo placeat commodi ex ea vel quas perspiciatis fugiat voluptatem veniam amet dicta dolorem suscipit aut sapiente eum nam! Fuga, alias, totam, autem qui provident nihil ratione distinctio possimus perspiciatis reprehenderit sunt asperiores. Error, autem accusamus dolorum quod nemo quaerat atque!
			</p>

			<div class="post-meta bottom">
				<span class="meta-tags">
					Tags:
					<a href="">corporate</a>
					,
					<a href="">business</a>
					,
					<a href="">formal</a>
				</span>
			</div>

			<div class="sg-spacer"></div>
			<div class="sg-block block-profile block-box">
				<div class="block-thumb align-left">
					<img class="hover-image" src="http://lorempixel.com/150/150/people?1" alt="image" />
				</div>
				<div class="block-body">
					<h4 class="profile-name">
						About <strong class="text-primary">John Doe</strong>
					</h4>
					<div class="profile-meta top">
						<a href="">View more post by John Doe</a>
					</div>
					<div class="profile-excerpt">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, dignissimos in nobis porro omnis sed vitae vero maxime ea temporibus excepturi quam repellendus odit ullam doloremque.
					</div>
					<div class="profile-meta bottom">
						<a href="">
							<span class="sg-badge badge-icon badge-sm bg-facebook badge-rounded"> <i class="fa fa-facebook"></i>
							</span>
						</a>
						<a href="">
							<span class="sg-badge badge-icon badge-sm bg-twitter badge-rounded"> <i class="fa fa-twitter"></i>
							</span>
						</a>
						<a href="">
							<span class="sg-badge badge-icon badge-sm bg-google-plus badge-rounded">
								<i class="fa fa-google-plus"></i>
							</span>
						</a>
						<a href="">
							<span class="sg-badge badge-icon badge-sm bg-linkedin badge-rounded">
								<i class="fa fa-linkedin"></i>
							</span>
						</a>
					</div>
				</div>
			</div>

			<div class="sg-spacer"></div>
			<h4>Comments</h4>

			<div class="sg-spacer"></div>
			<ul class="comment-list">
				<li class="comment-item">
					<div class="sg-block block-testi">
						<div class="block-thumb align-left">
							<img src="http://lorempixel.com/80/80/people?3" alt="image" />
						</div>
						<!-- block-thumb -->
						<div class="block-body">
							<div class="testi-callout tip-left">
								<p>
									Magni mollitia minus ab dignissimos magnam voluptatum odit quos commodi ratione earum amet cupiditate perspiciatis repellat placeat officiis atque recusandae ipsum nemo!
								</p>
								<div class="testi-meta bottom">
									<span class="meta-author">
										<a href="" rel="nofollow">James Doe</a>
									</span>
									<span class="meta-caption">| 01 January 2014</span>
									<span class="meta-reply">
										|
										<a href="">
											Reply
											<i class="fa fa-fw fa-reply"></i>
										</a>
									</span>
								</div>
							</div>
						</div>
						<!-- block-body -->
					</div>
					<!-- block -->
					<ul class="comment-list">
						<li class="comment-item">
							<div class="sg-block block-testi">
								<div class="block-thumb align-left">
									<img src="http://lorempixel.com/80/80/people?2" alt="image" />
								</div>
								<!-- block-thumb -->
								<div class="block-body">
									<div class="testi-callout tip-left">
										<p>
											Magni mollitia minus ab dignissimos magnam voluptatum odit quos commodi ratione earum amet cupiditate perspiciatis repellat placeat officiis atque recusandae ipsum nemo!
										</p>
										<div class="testi-meta bottom">
											<span class="meta-author">
												<a href="" rel="nofollow">Jane Doe</a>
											</span>
											<span class="meta-caption">| 01 January 2014</span>
											<span class="meta-reply">
												|
												<a href="">
													Reply
													<i class="fa fa-fw fa-reply"></i>
												</a>
											</span>
										</div>
									</div>
								</div>
								<!-- block-body -->
							</div>
							<!-- block -->
						</li>
						<!-- comment-item -->
					</ul>
					<!-- comment-list -->
				</li>
				<!-- comment-item -->
				<li class="comment-item">
					<div class="sg-block block-testi">
						<div class="block-thumb align-left">
							<img src="http://lorempixel.com/80/80/people?4" alt="image" />
						</div>
						<!-- block-thumb -->
						<div class="block-body">
							<div class="testi-callout tip-left">
								<p>
									Magni mollitia minus ab dignissimos magnam voluptatum odit quos commodi ratione earum amet cupiditate perspiciatis repellat placeat officiis atque recusandae ipsum nemo!
								</p>
								<div class="testi-meta bottom">
									<span class="meta-author">
										<a href="" rel="nofollow">Jessy Doe</a>
									</span>
									<span class="meta-caption">| 01 January 2014</span>
									<span class="meta-reply">
										|
										<a href="">
											Reply
											<i class="fa fa-fw fa-reply"></i>
										</a>
									</span>
								</div>
							</div>
						</div>
						<!-- block-body -->
					</div>
					<!-- block -->
				</li>
				<!-- comment-item -->
			</ul>
			<!-- comment-list -->

			<div id="block-leave-reply" class="sg-block">
				<div class="sg-spacer"></div>
				<h4>Leave a Reply</h4>
				<p>
					Your email address will not be published. Required fields are marked
					<span class="text-red">*</span>
				</p>
				<div class="sg-spacer padding-sm"></div>
				<form action="#" method="post">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="input-name">
									Name:
									<span class="text-red">*</span>
								</label>
								<input type="text" class="form-control" name="name" id="input-name"></div>
						</div>
						<!-- col -->
						<div class="col-sm-4">
							<div class="form-group">
								<label for="input-email">
									Email:
									<span class="text-red">*</span>
								</label>
								<input type="text" class="form-control" name="email" id="input-email"></div>
						</div>
						<!-- col -->
						<div class="col-sm-4">
							<div class="form-group">
								<label for="input-website">Website:</label>
								<input type="text" class="form-control" name="website" id="input-website"></div>
						</div>
						<!-- col -->
					</div>
					<!-- row -->
					<div class="form-group">
						<label for="input-message">Message:</label>
						<textarea class="form-control" name="message" id="input-message" rows="6"></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Post Comment</button>
				</form>
			</div>
		</div>
		<!-- col -->
	</div>
	<!-- row -->
</div>