<div class="container">
	<ul class="sg-post-list list-column row anim-inview inview-parent">
		<li id="post-0" class="post-item inview-child col-sm-12" data-anim-inview="bounceIn" data-anim-delay="0">
			<div class="sg-block block-post block-box">
				<div class="block-thumb align-left">
					<img class="hover-image" src="http://lorempixel.com/300/200/" alt="image" />
				</div>
				<div class="block-body">
					<h5 class="post-title">
						<a href="#">Lorem Ipsum Dolor Sit</a>
					</h5>
					<div class="post-meta top">
						<span class="meta-author">
							Posted by
							<a href=""> <i class="fa fa-fw fa-user"></i>
								Admin
							</a>
						</span>
						<span class="meta-category">
							|
							<a href=""> <i class="fa fa-fw fa-folder"></i>
								Uncategorized
							</a>
						</span>
						<span class="meta-date">
							|
							<i class="fa fa-fw fa-calendar-o"></i>
							01 January 2014
						</span>
					</div>
					<div class="post-excerpt">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate iusto vitae doloribus alias temporibus eius consequuntur ab reprehenderit. Assumenda, eius pariatur aperiam facilis labore nostrum soluta voluptatum incidunt sapiente repellat. Eveniet, ab voluptas minus porro temporibus natus tempore voluptatum illum.
					</div>
					<a href="">
						Read More
						<i class="fa fa-fw fa-angle-right"></i>
					</a>

				</div>
			</div>
		</li>
		<!-- col -->
	</ul>	
</div>