<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<div class="sg-widget">
				<div class="widget-header">
					<div class="sg-title title-fill title-rounded">Search</div>
				</div>

				<div class="input-group">
					<input type="text" class="form-control">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button"> <i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</div>
			<!-- widget -->

			<div class="sg-widget">
				<div class="widget-header">
					<div class="sg-title title-fill title-rounded">Followers Us</div>
				</div>
				<ul class="socmed-list list-thumb-left list-small">
					<li class="socmed-item">
						<div class="sg-block block-socmed">
							<div class="block-thumb align-left">
								<span class="sg-badge badge-icon badge-rounded badge-md bg-facebook"> <i class="fa fa-facebook"></i>
								</span>
							</div>
							<div class="block-body">
								<h5 class="socmed-name">
									<a href="#">Facebook</a>
								</h5>
								<div class="post-meta bottom">
									<span class="meta-counter text-lg">11.000 Fans</span>
								</div>
							</div>
						</div>
					</li>
					<li class="socmed-item">
						<div class="sg-block block-socmed">
							<div class="block-thumb align-left">
								<span class="sg-badge badge-icon badge-rounded badge-md bg-twitter">
									<i class="fa fa-twitter"></i>
								</span>
							</div>
							<div class="block-body">
								<h5 class="socmed-name">
									<a href="#">Twitter</a>
								</h5>
								<div class="post-meta bottom">
									<span class="meta-counter text-lg">3.000 Followers</span>
								</div>
							</div>
						</div>
					</li>
					<li class="socmed-item">
						<div class="sg-block block-socmed">
							<div class="block-thumb align-left">
								<span class="sg-badge badge-icon badge-rounded badge-md bg-rss">
									<i class="fa fa-rss"></i>
								</span>
							</div>
							<div class="block-body">
								<h5 class="socmed-name">
									<a href="#">RSS Feed</a>
								</h5>
								<div class="post-meta bottom">
									<span class="meta-counter text-lg">1.000 Subscriber</span>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<!-- socmed list -->
			</div>
			<!-- widget -->

			<div class="sg-widget">
				<div class="widget-header">
					<div class="sg-title title-fill title-rounded">Text</div>
				</div>

				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, quaerat, commodi ea deserunt error incidunt odio
				</p>
				<p>
					Voluptatum doloremque distinctio nesciunt cupiditate recusandae tempora rerum tempore suscipit nam quae amet.
				</p>
			</div>
			<!-- widget -->

			<div class="sg-widget">
				<div class="widget-header">
					<div class="sg-title title-fill title-rounded">Popular Post</div>
				</div>

				<ul class="post-list list-thumb-left list-small">
					<li class="post-item">
						<div class="sg-block block-post">
							<div class="block-thumb align-left">
								<a href="http://localhost/themes/corporate/public/router.php?page=post-single">
									<img class="hover-image" src="http://localhost/themes/_theme_includes/timthumb/timthumb.php?src=http://localhost/themes/corporate/public/assets/images/blog/blog-1.jpg&amp;zc=1&amp;w=50&amp;h=50" alt="image" draggable="false"></a>
							</div>
							<div class="block-body">
								<h5 class="post-name">
									<a href="#">Lorem Ipsum Dolor</a>
								</h5>
								<div class="post-meta bottom">
									<span class="post-date">01 January 2014</span>
								</div>
							</div>
						</div>
					</li>
					<li class="post-item">
						<div class="sg-block block-post">
							<div class="block-thumb align-left">
								<a href="http://localhost/themes/corporate/public/router.php?page=post-single">
									<img class="hover-image" src="http://localhost/themes/_theme_includes/timthumb/timthumb.php?src=http://localhost/themes/corporate/public/assets/images/blog/blog-2.jpg&amp;zc=1&amp;w=50&amp;h=50" alt="image" draggable="false"></a>
							</div>
							<div class="block-body">
								<h5 class="post-name">
									<a href="#">Lorem Ipsum Dolor</a>
								</h5>
								<div class="post-meta bottom">
									<span class="post-date">01 January 2014</span>
								</div>
							</div>
						</div>
					</li>
					<li class="post-item">
						<div class="sg-block block-post">
							<div class="block-thumb align-left">
								<a href="http://localhost/themes/corporate/public/router.php?page=post-single">
									<img class="hover-image" src="http://localhost/themes/_theme_includes/timthumb/timthumb.php?src=http://localhost/themes/corporate/public/assets/images/blog/blog-3.jpg&amp;zc=1&amp;w=50&amp;h=50" alt="image" draggable="false"></a>
							</div>
							<div class="block-body">
								<h5 class="post-name">
									<a href="#">Lorem Ipsum Dolor</a>
								</h5>
								<div class="post-meta bottom">
									<span class="post-date">01 January 2014</span>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<!-- post list -->
			</div>
			<!-- widget -->

			<div class="widget widget-tag-list">
				<div class="widget-header">
					<div class="sg-title title-fill title-rounded">Tag List</div>
				</div>
				<p>
					<a class="btn btn-xs btn-default" href="">lorem</a>
					<a class="btn btn-xs btn-default" href="">ipsum</a>
					<a class="btn btn-xs btn-default" href="">dolor</a>
					<a class="btn btn-xs btn-default" href="">sit amet</a>
					<a class="btn btn-xs btn-default" href="">consectetur</a>
					<a class="btn btn-xs btn-default" href="">adipisicing</a>
					<a class="btn btn-xs btn-default" href="">dolorum</a>
					<a class="btn btn-xs btn-default" href="">repudiandae</a>
					<a class="btn btn-xs btn-default" href="">doloribus</a>
					<a class="btn btn-xs btn-default" href="">libero</a>
					<a class="btn btn-xs btn-default" href="">fugit</a>
					<a class="btn btn-xs btn-default" href="">culpa</a>
				</p>
			</div>
			<!-- widget -->
		</div>
	</div>
	<!-- row -->
</div>