<div class="sg-spacer padding-4x"></div>
<div class="sg-title title-divider">
	<span class="before"></span>
	<span class="inner">Align Left</span>
	<span class="after"></span>
</div>
<div class="sg-spacer"></div>
<div class="sg-section bg-dark">

	<div class="container">
		<h2 class="page-title">Page Title</h2>
		<div class="sg-breadcrumb">
			<ul>
				<li>
					<a href="">Home</a>
				</li>
				<li>
					<a href="">Category</a>
				</li>
				<li>
					<a href="">Page</a>
				</li>
			</ul>
		</div>

	</div>
	<!-- container -->

</div>
<!-- section -->

<div class="sg-spacer"></div>
<div class="sg-title title-divider">
	<span class="before"></span>
	<span class="inner">Align center</span>
	<span class="after"></span>
</div>
<div class="sg-spacer"></div>
<div class="sg-section text-center bg-dark">
	<div class="container">
		<h2 class="page-title">Page Title</h2>
		<div class="sg-breadcrumb">
			<ul>
				<li>
					<a href="">Home</a>
				</li>
				<li>
					<a href="">Category</a>
				</li>
				<li>
					<a href="">Page</a>
				</li>
			</ul>
		</div>

	</div>
	<!-- container -->

</div>
<!-- section -->

<div class="sg-spacer"></div>
<div class="sg-title title-divider">
	<span class="before"></span>
	<span class="inner">Align Right</span>
	<span class="after"></span>
</div>
<div class="sg-spacer"></div>
<div class="sg-section text-right bg-dark">

	<div class="container">
		<h2 class="page-title">Page Title</h2>
		<div class="sg-breadcrumb">
			<ul>
				<li>
					<a href="">Home</a>
				</li>
				<li>
					<a href="">Category</a>
				</li>
				<li>
					<a href="">Page</a>
				</li>
			</ul>
		</div>

	</div>
	<!-- container -->

</div>
<!-- section -->

<div class="sg-spacer"></div>
<div class="sg-title title-divider">
	<span class="before"></span>
	<span class="inner">Split</span>
	<span class="after"></span>
</div>
<div class="sg-spacer"></div>
<div class="sg-section text-right bg-dark">

	<div class="container">
		<div class="navbar no-margin">
			<div class="navbar-left">
				<h2 class="page-title">Page Title</h2>
			</div>
			<div class="navbar-right">
				<div class="sg-breadcrumb">
					<ul>
						<li>
							<a href="">Home</a>
						</li>
						<li>
							<a href="">Category</a>
						</li>
						<li>
							<a href="">Page</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- container -->
</div>
<!-- section -->

<div class="sg-spacer"></div>