<div class="container">
  <div class="sg-title title-divider">
    <span class="before"></span>
    <span class="inner">Basic Tabs</span>
    <span class="after"></span>
  </div>
  <div class="sg-spacer"></div>

  <div id="basic" class="sg-tabs ">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#basic-tab1" data-toggle="tab">Tab 1</a>
      </li>
      <li class="">
        <a href="#basic-tab2" data-toggle="tab">Tab 2</a>
      </li>
      <li class="">
        <a href="#basic-tab3" data-toggle="tab">Tab 3</a>
      </li>
      <li class="">
        <a href="#basic-tab4" data-toggle="tab">Tab 4</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="basic-tab1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, rerum, nesciunt quos quas dolor est dicta itaque reprehenderit quasi blanditiis!
      </div>
      <div class="tab-pane" id="basic-tab2">
        Tempora, veritatis, odit, voluptas quos nostrum debitis doloribus voluptatem aliquid suscipit fugiat incidunt deleniti alias enim corporis.
      </div>
      <div class="tab-pane" id="basic-tab3">
        Enim, unde, neque modi ad vitae non a nulla aliquam autem et nesciunt repellendus nisi obcaecati natus deserunt iure sapiente.
      </div>
      <div class="tab-pane" id="basic-tab4">
        Suscipit, maxime doloribus obcaecati assumenda autem architecto excepturi pariatur enim commodi iste voluptates voluptas laudantium.
      </div>
    </div>
  </div>

  <div class="sg-spacer"></div>
  <div class="sg-title title-divider">
    <span class="before"></span>
    <span class="inner">Bordered Tabs</span>
    <span class="after"></span>
  </div>
  <div class="sg-spacer"></div>

  <div id="border" class="sg-tabs sg-tabs-border">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#border-tab1" data-toggle="tab">Tab 1</a>
      </li>
      <li>
        <a href="#border-tab2" data-toggle="tab">Tab 2</a>
      </li>
      <li>
        <a href="#border-tab3" data-toggle="tab">Tab 3</a>
      </li>
      <li>
        <a href="#border-tab4" data-toggle="tab">Tab 4</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="border-tab1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, rerum, nesciunt quos quas dolor est dicta itaque reprehenderit quasi blanditiis!
      </div>
      <div class="tab-pane" id="border-tab2">
        Tempora, veritatis, odit, voluptas quos nostrum debitis doloribus voluptatem aliquid suscipit fugiat incidunt deleniti alias enim corporis.
      </div>
      <div class="tab-pane" id="border-tab3">
        Enim, unde, neque modi ad vitae non a nulla aliquam autem et nesciunt repellendus nisi obcaecati natus deserunt iure sapiente.
      </div>
      <div class="tab-pane" id="border-tab4">
        Suscipit, maxime doloribus obcaecati assumenda autem architecto excepturi pariatur enim commodi iste voluptates voluptas laudantium.
      </div>
    </div>
  </div>

  <div class="sg-spacer"></div>
  <div class="sg-title title-divider">
    <span class="before"></span>
    <span class="inner">Bordered Body Tabs</span>
    <span class="after"></span>
  </div>
  <div class="sg-spacer"></div>

  <div id="border-body" class="sg-tabs sg-tabs-border-body">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#border-body-tab1" data-toggle="tab">Tab 1</a>
      </li>
      <li>
        <a href="#border-body-tab2" data-toggle="tab">Tab 2</a>
      </li>
      <li>
        <a href="#border-body-tab3" data-toggle="tab">Tab 3</a>
      </li>
      <li>
        <a href="#border-body-tab4" data-toggle="tab">Tab 4</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="border-body-tab1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, rerum, nesciunt quos quas dolor est dicta itaque reprehenderit quasi blanditiis!
      </div>
      <div class="tab-pane" id="border-body-tab2">
        Tempora, veritatis, odit, voluptas quos nostrum debitis doloribus voluptatem aliquid suscipit fugiat incidunt deleniti alias enim corporis.
      </div>
      <div class="tab-pane" id="border-body-tab3">
        Enim, unde, neque modi ad vitae non a nulla aliquam autem et nesciunt repellendus nisi obcaecati natus deserunt iure sapiente.
      </div>
      <div class="tab-pane" id="border-body-tab4">
        Suscipit, maxime doloribus obcaecati assumenda autem architecto excepturi pariatur enim commodi iste voluptates voluptas laudantium.
      </div>
    </div>
  </div>

  <div class="sg-spacer"></div>
  <div class="sg-title title-divider">
    <span class="before"></span>
    <span class="inner">Accent Tabs</span>
    <span class="after"></span>
  </div>
  <div class="sg-spacer"></div>

  <div id="accent" class="sg-tabs sg-tabs-accent">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#accent-tab1" data-toggle="tab">Tab 1</a>
      </li>
      <li>
        <a href="#accent-tab2" data-toggle="tab">Tab 2</a>
      </li>
      <li>
        <a href="#accent-tab3" data-toggle="tab">Tab 3</a>
      </li>
      <li>
        <a href="#accent-tab4" data-toggle="tab">Tab 4</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="accent-tab1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, rerum, nesciunt quos quas dolor est dicta itaque reprehenderit quasi blanditiis!
      </div>
      <div class="tab-pane" id="accent-tab2">
        Tempora, veritatis, odit, voluptas quos nostrum debitis doloribus voluptatem aliquid suscipit fugiat incidunt deleniti alias enim corporis.
      </div>
      <div class="tab-pane" id="accent-tab3">
        Enim, unde, neque modi ad vitae non a nulla aliquam autem et nesciunt repellendus nisi obcaecati natus deserunt iure sapiente.
      </div>
      <div class="tab-pane" id="accent-tab4">
        Suscipit, maxime doloribus obcaecati assumenda autem architecto excepturi pariatur enim commodi iste voluptates voluptas laudantium.
      </div>
    </div>
  </div>

  <div class="sg-spacer"></div>
  <div class="sg-title title-divider">
    <span class="before"></span>
    <span class="inner">Bordered Accent Tabs</span>
    <span class="after"></span>
  </div>
  <div class="sg-spacer"></div>

  <div id="accent-bordered" class="sg-tabs sg-tabs-border sg-tabs-accent">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#accent-bordered-tab1" data-toggle="tab">Tab 1</a>
      </li>
      <li>
        <a href="#accent-bordered-tab2" data-toggle="tab">Tab 2</a>
      </li>
      <li>
        <a href="#accent-bordered-tab3" data-toggle="tab">Tab 3</a>
      </li>
      <li>
        <a href="#accent-bordered-tab4" data-toggle="tab">Tab 4</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="accent-bordered-tab1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, rerum, nesciunt quos quas dolor est dicta itaque reprehenderit quasi blanditiis!
      </div>
      <div class="tab-pane" id="accent-bordered-tab2">
        Tempora, veritatis, odit, voluptas quos nostrum debitis doloribus voluptatem aliquid suscipit fugiat incidunt deleniti alias enim corporis.
      </div>
      <div class="tab-pane" id="accent-bordered-tab3">
        Enim, unde, neque modi ad vitae non a nulla aliquam autem et nesciunt repellendus nisi obcaecati natus deserunt iure sapiente.
      </div>
      <div class="tab-pane" id="accent-bordered-tab4">
        Suscipit, maxime doloribus obcaecati assumenda autem architecto excepturi pariatur enim commodi iste voluptates voluptas laudantium.
      </div>
    </div>
  </div>

  <div class="sg-spacer"></div>
  <div class="sg-title title-divider">
    <span class="before"></span>
    <span class="inner">Block Tabs</span>
    <span class="after"></span>
  </div>
  <div class="sg-spacer"></div>

  <div id="block" class="sg-tabs sg-tabs-block">
    <ul class="nav nav-tabs">
      <li class="">
        <a href="#block-tab1" data-toggle="tab">Tab 1</a>
      </li>
      <li class="">
        <a href="#block-tab2" data-toggle="tab">Tab 2</a>
      </li>
      <li class="">
        <a href="#block-tab3" data-toggle="tab">Tab 3</a>
      </li>
      <li class="active">
        <a href="#block-tab4" data-toggle="tab">Tab 4</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane" id="block-tab1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, rerum, nesciunt quos quas dolor est dicta itaque reprehenderit quasi blanditiis!
      </div>
      <div class="tab-pane" id="block-tab2">
        Tempora, veritatis, odit, voluptas quos nostrum debitis doloribus voluptatem aliquid suscipit fugiat incidunt deleniti alias enim corporis.
      </div>
      <div class="tab-pane" id="block-tab3">
        Enim, unde, neque modi ad vitae non a nulla aliquam autem et nesciunt repellendus nisi obcaecati natus deserunt iure sapiente.
      </div>
      <div class="tab-pane active" id="block-tab4">
        Suscipit, maxime doloribus obcaecati assumenda autem architecto excepturi pariatur enim commodi iste voluptates voluptas laudantium.
      </div>
    </div>
  </div>

  <div class="sg-spacer"></div>
  <div class="sg-title title-divider">
    <span class="before"></span>
    <span class="inner">Bordered Block Tabs</span>
    <span class="after"></span>
  </div>
  <div class="sg-spacer"></div>

  <div id="block-border" class="sg-tabs sg-tabs-border-body sg-tabs-block">
    <ul class="nav nav-tabs">
      <li class="">
        <a href="#block-border-tab1" data-toggle="tab">Tab 1</a>
      </li>
      <li class="">
        <a href="#block-border-tab2" data-toggle="tab">Tab 2</a>
      </li>
      <li class="">
        <a href="#block-border-tab3" data-toggle="tab">Tab 3</a>
      </li>
      <li class="active">
        <a href="#block-border-tab4" data-toggle="tab">Tab 4</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane" id="block-border-tab1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, rerum, nesciunt quos quas dolor est dicta itaque reprehenderit quasi blanditiis!
      </div>
      <div class="tab-pane" id="block-border-tab2">
        Tempora, veritatis, odit, voluptas quos nostrum debitis doloribus voluptatem aliquid suscipit fugiat incidunt deleniti alias enim corporis.
      </div>
      <div class="tab-pane" id="block-border-tab3">
        Enim, unde, neque modi ad vitae non a nulla aliquam autem et nesciunt repellendus nisi obcaecati natus deserunt iure sapiente.
      </div>
      <div class="tab-pane active" id="block-border-tab4">
        Suscipit, maxime doloribus obcaecati assumenda autem architecto excepturi pariatur enim commodi iste voluptates voluptas laudantium.
      </div>
    </div>
  </div>

  <div class="sg-spacer"></div>
  <div class="sg-title title-divider">
    <span class="before"></span>
    <span class="inner">Tabs + Icon Combination</span>
    <span class="after"></span>
  </div>
  <div class="sg-spacer"></div>
  <div id="icon-tabs" class="sg-tabs sg-tabs-border-body sg-tabs-block">
    <ul class="nav nav-tabs">
      <li class="">
        <a href="#icon-tabs-tab1" data-toggle="tab"> <i class="fa fa-fw fa-rocket"></i>
          Tab 1
        </a>
      </li>
      <li class="">
        <a href="#icon-tabs-tab2" data-toggle="tab"> <i class="fa fa-fw fa-gear"></i>
          Tab 2
        </a>
      </li>
      <li class="">
        <a href="#icon-tabs-tab3" data-toggle="tab">
          <i class="fa fa-fw fa-cloud"></i>
          Tab 3
        </a>
      </li>
      <li class="active">
        <a href="#icon-tabs-tab4" data-toggle="tab">
          <i class="fa fa-fw fa-user"></i>
          Tab 4
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane" id="icon-tabs-tab1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, rerum, nesciunt quos quas dolor est dicta itaque reprehenderit quasi blanditiis!
      </div>
      <div class="tab-pane" id="icon-tabs-tab2">
        Tempora, veritatis, odit, voluptas quos nostrum debitis doloribus voluptatem aliquid suscipit fugiat incidunt deleniti alias enim corporis.
      </div>
      <div class="tab-pane" id="icon-tabs-tab3">
        Enim, unde, neque modi ad vitae non a nulla aliquam autem et nesciunt repellendus nisi obcaecati natus deserunt iure sapiente.
      </div>
      <div class="tab-pane active" id="icon-tabs-tab4">
        Suscipit, maxime doloribus obcaecati assumenda autem architecto excepturi pariatur enim commodi iste voluptates voluptas laudantium.
      </div>
    </div>
  </div>
</div>