<div class="container">
	<div class="sg-title title-divider">
		<span class="before"></span>
		<span class="inner">Testi sg-Block Variation</span>
		<span class="after"></span>
	</div>
	<div class="sg-spacer"></div>

	<div class="row">

		<div class="col-sm-3">
			<h4>Minimum</h4>
			<div class="sg-block block-testi text-center">
				<div class="block-thumb">
					<img class="hover-image" src="http://lorempixel.com/300/200/people" alt="image" />
				</div>
				<div class="block-body">
					<div class="testi-excerpt">
						"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, tempora, est quasi laboriosam"
					</div>
					<div class="testi-meta bottom">
						<span class="meta-author">John Doe,</span>
						<span class="meta-caption">Acme Corp</span>
					</div>
				</div>
			</div>

		</div>
		<!-- col -->

		<div class="col-sm-3">
			<h4>With Overlay</h4>
			<div class="sg-block block-testi text-center">
				<div class="block-thumb">
					<img class="hover-image" src="http://lorempixel.com/300/200/people" alt="image" />
				</div>
				<div class="block-thumb overflow">
					<span class="sg-badge badge-icon badge-circle bg-primary border-primary">
						<i class="fa fa-quote-left"></i>
					</span>
				</div>
				<div class="block-body">
					<div class="testi-excerpt">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, tempora, est quasi laboriosam.
					</div>
					<div class="testi-meta bottom">
						<span class="meta-author">John Doe,</span>
						<span class="meta-caption">Acme Corp</span>
					</div>
				</div>
			</div>
		</div>
		<!-- col -->

		<div class="col-sm-3">
			<h4>Boxed</h4>
			<div class="sg-block block-testi block-box text-center">
				<div class="block-thumb">
					<img class="hover-image" src="http://lorempixel.com/300/200/people" alt="image" />
				</div>
				<div class="block-body">
					<div class="testi-excerpt">
						"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, tempora, est quasi laboriosam"
					</div>
					<div class="testi-meta bottom">
						<span class="meta-author">John Doe,</span>
						<span class="meta-caption">Acme Corp</span>
					</div>
				</div>
			</div>

		</div>
		<!-- col -->

		<div class="col-sm-3">
			<h4>Full Box</h4>
			<div class="sg-block block-testi block-box box-full text-center">
				<div class="block-thumb">
					<img class="hover-image" src="http://lorempixel.com/300/200/people" alt="image" />
				</div>
				<div class="block-thumb overflow">
					<span class="sg-badge badge-icon badge-circle bg-primary border-primary">
						<i class="fa fa-quote-left"></i>
					</span>
				</div>
				<div class="block-body">
					<div class="testi-excerpt">
						"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, tempora, est quasi laboriosam"
					</div>
					<div class="testi-meta bottom">
						<span class="meta-author">John Doe,</span>
						<span class="meta-caption">Acme Corp</span>
					</div>
				</div>
			</div>
		</div>
		<!-- col -->
	</div>

	<div class="sg-spacer"></div>

	<div class="row">
		<div class="col-sm-3">
			<h4>Circle</h4>
			<div class="sg-block block-testi text-center">
				<div class="block-thumb">
					<img class="hover-image img-circle" src="http://lorempixel.com/150/150/people" alt="image" />
				</div>
				<div class="block-body">
					<div class="testi-excerpt">
						"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, tempora, est quasi laboriosam"
					</div>
					<div class="testi-meta bottom">
						<span class="meta-author">John Doe,</span>
						<span class="meta-caption">Acme Corp</span>
					</div>
				</div>
			</div>

		</div>
		<!-- col -->

		<div class="col-sm-3">
			<h4>Circle + Boxed</h4>
			<div class="sg-block block-testi block-box text-center">
				<div class="block-thumb">
					<img class="hover-image img-circle" src="http://lorempixel.com/150/150/people" alt="image" />
				</div>
				<div class="block-body">
					<div class="testi-excerpt">
						"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, tempora, est quasi laboriosam"
					</div>
					<div class="testi-meta bottom">
						<span class="meta-author">John Doe,</span>
						<span class="meta-caption">Acme Corp</span>
					</div>
				</div>
			</div>
		</div>
		<!-- col -->

		<div class="col-sm-3">
			<h4>Circle Overflow</h4>
			<div class="sg-spacer padding-4x"></div>
			<div class="sg-block block-testi block-box text-center">
				<div class="block-thumb overflow">
					<img class="hover-image img-circle" src="http://lorempixel.com/150/150/people" alt="image" />
				</div>
				<div class="block-body">
					<div class="testi-excerpt">
						"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, tempora, est quasi laboriosam"
					</div>
					<div class="testi-meta bottom">
						<span class="meta-author">John Doe,</span>
						<span class="meta-caption">Acme Corp</span>
					</div>
				</div>
			</div>
		</div>
		<!-- col -->

		<div class="col-sm-3">
			<h4>Circle + Callout</h4>
			<div class="sg-block block-testi text-center">
				<div class="block-thumb">
					<img class="hover-image img-circle" src="http://lorempixel.com/150/150/people" alt="image" />
				</div>
				<div class="block-body">
					<div class="testi-callout align-center tip-top">
						<div class="testi-excerpt">
							"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, tempora, est quasi laboriosam"
						</div>
						<div class="testi-meta bottom">
							<span class="meta-author">John Doe,</span>
							<span class="meta-caption">Acme Corp</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- col -->
	</div>

	<div class="sg-spacer"></div>
	<div class="row">
		<div class="col-sm-6">
			<h4>Thumb Left</h4>
			<div class="sg-block block-testi">
				<div class="block-thumb align-left">
					<img class="hover-image" src="http://lorempixel.com/80/80/people" alt="image" />
				</div>
				<div class="block-body">
					<div class="testi-excerpt">
						"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, tempora, est quasi laboriosam"
					</div>
					<div class="testi-meta bottom">
						<span class="meta-author">John Doe,</span>
						<span class="meta-caption">Acme Corp</span>
					</div>
				</div>
			</div>
		</div>
		<!-- col -->
		<div class="col-sm-6">
			<h4>Boxed Thumb Left</h4>
			<div class="sg-block block-testi block-box">
				<div class="block-thumb align-left">
					<img class="hover-image" src="http://lorempixel.com/80/80/people" alt="image" />
				</div>
				<div class="block-body">
					<div class="testi-excerpt">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, tempora, est quasi laboriosam.
					</div>
					<div class="testi-meta bottom">
						<span class="meta-author">John Doe,</span>
						<span class="meta-caption">Acme Corp</span>
					</div>
				</div>
			</div>
		</div>
		<!-- col -->
	</div>

	<div class="sg-spacer"></div>
	<div class="row">
		<div class="col-sm-6">
			<h4>Callout Thumb Left</h4>
			<div class="sg-block block-testi">
				<div class="block-thumb align-left">
					<img class="hover-image" src="http://lorempixel.com/300/200/people" alt="image" />
				</div>
				<div class="block-body">
					<div class="testi-callout tip-left">
						<div class="testi-excerpt">
							"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, tempora, est quasi laboriosam"
						</div>
						<div class="testi-meta bottom">
							<span class="meta-author">John Doe,</span>
							<span class="meta-caption">Acme Corp</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- col -->

		<div class="col-sm-6">
			<h4>Callout Small Thumb</h4>
			<div class="sg-block block-testi">
				<div class="testi-callout">
					<div class="testi-excerpt no-margin">
						"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, tempora, est quasi laboriosam"
					</div>
				</div>
				<div class="testi-meta bottom">
					<span class="meta-avatar">
						<img class="hover-image img-circle" src="http://lorempixel.com/40/40/people" alt="image" />
					</span>
					<span class="meta-author">John Doe,</span>
					<span class="meta-caption">Acme Corp</span>
				</div>
			</div>
		</div>
		<!-- col -->
	</div>
	<!-- row -->

	<div class="sg-spacer"></div>
	<div class="sg-title title-divider">
		<span class="before"></span>
		<span class="inner">Testi Lead</span>
		<span class="after"></span>
	</div>
	<div class="sg-spacer"></div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h4 class="text-center">Lead</h4>
			<div class="sg-block block-testi lead text-center">
				<div class="testi-excerpt">
					"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, illo officiis voluptate non iste voluptates necessitatibus officia repellendus. Illo, dolorem et nesciunt alias assumenda excepturi voluptates reiciendis repellendus molestiae tempora"
				</div>
				<div class="testi-meta bottom">
					<span class="meta-author">John Doe,</span>
					<span class="meta-caption">Acme Corp</span>
				</div>
			</div>
		</div>
		<!-- col -->
	</div>
	<!-- row -->

	<div class="sg-spacer"></div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h4 class="text-center">Lead + Icon</h4>
			<div class="sg-block block-testi lead text-center">
				<div class="block-thumb">
					<span class="sg-badge badge-icon badge-sm badge-circle bg-primary border-primary">
						<i class="fa fa-quote-left"></i>
					</span>
				</div>
				<div class="testi-excerpt">
					"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, illo officiis voluptate non iste voluptates necessitatibus officia repellendus. Illo, dolorem et nesciunt alias assumenda excepturi voluptates reiciendis repellendus molestiae tempora"
				</div>
				<div class="testi-meta bottom">
					<span class="meta-author">John Doe,</span>
					<span class="meta-caption">Acme Corp</span>
				</div>
			</div>
		</div>
		<!-- col -->
	</div>
	<!-- row -->

	<div class="sg-spacer"></div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h4 class="text-center">Lead Boxed + Icon</h4>
			<div class="sg-block block-testi block-box lead text-center">
				<div class="block-thumb overflow">
					<span class="sg-badge badge-icon badge-sm badge-circle bg-primary border-primary">
						<i class="fa fa-quote-left"></i>
					</span>
				</div>
				<div class="testi-excerpt">
					"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, illo officiis voluptate non iste voluptates necessitatibus officia repellendus. Illo, dolorem et nesciunt alias assumenda excepturi voluptates reiciendis repellendus molestiae tempora"
				</div>
				<div class="testi-meta bottom">
					<span class="meta-author">John Doe,</span>
					<span class="meta-caption">Acme Corp</span>
				</div>
			</div>
		</div>
		<!-- col -->
	</div>
	<!-- row -->
</div>